[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
gunicorn = "*"
django-health-check = "*"
structlog = "*"
python-json-logger = "*"
psycopg2-binary = "*"
coverage = "*"
django-cors-headers = "*"
requests = "*"
apache-airflow = {extras = ["github_enterprise", "google_auth", "kubernetes", "ldap", "postgres"],version = "*"}
schedule = "*"
